<div class="col">
    <div class="card" style="height:100%">
        <div class="card-body d-flex flex-row">
            <div class="align-self-center">
                <i class="fa-solid fa-dice-d6 mx-2" style="font-size: 750%;"></i>
            </div>
            <div class="d-flex flex-column ms-4">
                <div style="font-size:200%">
                    <%- console.log(data); %>
                    <b><%- data.name %></b>&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" style="color: #dd0000;"></i>
                </div>
                <div class="mb-1">
                    状态：离线
                </div>
                <div class="mb-1">
                    描述：<%- data.description %>
                </div>
                <div class="mb-1">
                    更新时间：2077/04/28 18:44
                </div>
            </div>
        </div>
    </div>
</div>